<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <appender name="Etl" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/log/user_category/llda/etl.log"/>
        <param name="Append" value="true" />
        <param name="Threshold" value="debug" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
        </layout>
    </appender>

    <logger name="com.elex.bigdata.jgibblda">
        <level value="info" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="com.elex.bigdata.jgibblda.ResultEtl">
        <level value="debug" />
        <appender-ref ref="Etl"/>
    </logger>

    <!--<root>-->
    <!--<level value="info" />-->
    <!--<appender-ref ref="CONSOLE" />-->
    <!--</root>-->

</log4j:configuration>